@import url("../meny/__link/meny__link.css");
@import url("../meny/__link/meny__link_page.css");
@import url("../meny/__link/meny__link_black.css");
.meny{
    margin-right: 101px;
    list-style-type: none;
    display: flex;
}