.analitika-table__percent-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
    margin-top:16px;
}