@import url("./__circle/search-result__circle.css");
@import url("./__description/search-result__description.css");
.search-result{
    display: flex;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    background: #F5F6F7;
    margin-left: auto;
    margin-right: auto;
}