.analitika-title__week{
    margin:0;
    padding-top: 0;
    font-family: Roboto regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin-left:104px;
}