.search__form{
    position: relative;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    max-width: 608px;
    z-index: 2;
}
@media screen and (min-width:320px) and  (max-width:639px){
    .search__form{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       
    }
 }