.slide__description{
    margin: 0;
    padding: 0;
    margin-left: 24px;
    max-width: 352px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
}