.analitika-table__scale{
    width:15%;
    height: 24px;
    background: #2F71E5;
    margin-bottom: 56px;
    display: flex;
    padding-left: 6px;
    justify-content: flex-start;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.analitika-table__scale_first{
   margin-top: 42px;
}
@media screen and (min-width:320px) and  (max-width:599px){
    .analitika-table__scale{
        margin-bottom: 24px;
    }
    .analitika-table__scale_first{
        margin-top: 8px;
    }
}
