.search{
   display: flex;
   position: relative;
   max-width: 1440px;
   margin-top:-81px;
   height:567px;
   margin-left: auto;
   margin-right: auto;
   background-image: url("../../images/logoimage.png");
   background-size: 100% auto;
   background-repeat: no-repeat;
   z-index: 5;
}