.logo_white{
    color: #FFFFFF;
}
@media screen and (min-width:320px) and  (max-width:639px){
    .logo_white{
        margin-left: 16px;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center; 
        color: #FFFFFF;
    }
}
