@import url("./logo_white.css");
@import url("./logo_black.css");
.logo{
    text-decoration: none;
    margin-left: 104px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    
}
