.meny__link_page_darck{
    padding-bottom: 26px;
    border-bottom: solid 3px #1A1B22;
    color: #1A1B22;
}

@media screen and (min-width:640px) and  (max-width:778px){
    .meny__link_page_darck{
        padding-bottom:18px;
        color: #1A1B22;
    }
}

@media screen and (min-width:320px) and  (max-width:639px){
    .meny__link_page_darck{
       padding-bottom:13px ;
       color: #1A1B22;
    }
}