.card__image-container{
    background-image: url("../../../images/image_1.jpg");
    width: 400px;
    height: 272px;
    border-radius: 16px 16px 0 0;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    
}
@media screen and (min-width:400px) and  (max-width:1367px){
    .card__image-container{
        width: 224px;
        height: 150px;
    }
}
@media screen and (min-width:320px) and  (max-width:399px){
    .card__image-container{
        width: 288px;
        height: 196px;
    }
}