.analitika-table__week-day{
    font-family: Roboto regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 80px;
    color: #1A1B22;
}

@media screen and (min-width:320px) and  (max-width:599px){
    .analitika-table__week-day{
        line-height: 48px;
    }
}

    